.footer {
    background-color: #212529;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a {
    color: rgb(40, 148, 236);
}
.footer p {
    color: #fff;
}
@media screen and (min-width: 400px)  and (max-width: 599px) {
    .footer p {
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 300px)  and (max-width: 399px) {
    .footer p {
        font-size: 0.6rem;
    }
}